@{
    ViewData["Title"] = "All";
}

@section Styles
{
<!-- DataTables -->
<link rel="stylesheet" href="~/AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/AdminLTE/plugins/datatables/components.css">

<!--Toggle switch-->
<link href="~/CustomSwitch/dist/css/component-custom-switch.css" rel="stylesheet">


<!--Alertify.js-->
<!-- include the style -->
<link rel="stylesheet" href="~/alertifyjs/css/alertify.min.css" />
<!-- include a theme -->
<link rel="stylesheet" href="~/alertifyjs/css/themes/default.min.css" />

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <div class="float-left">
                            <h3 class="card-title">New Currently Available Stores</h3>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="float-right">
                            <a class="btn btn-outline-info btn-sm" asp-area="Admin" asp-controller="Store" asp-action="Add" >Add Store<i class="fa fa-plus ml-2"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.card-body -->
            <div class="card-body" id="dataTableBody">
                        <div class="col-md-12 p-0">
                         <table id="stores" class="table datatable-show-all">
						<thead>
							<tr>
								<th>StoreLogoUrl</th>
								<th>Handle</th>
                                <th>StoreName</th>
                                <th>StoreEmailAddress</th>
								<th class="text-center">Actions</th>
							</tr>
						</thead>
						<!--FromDB-->
                        <tfoot>
							<tr>
								<th>StoreLogoUrl</th>
								<th>Handle</th>
                                <th>StoreName</th>
                                <th>StoreEmailAddress</th>
								<th class="text-center">Actions</th>
							</tr>
						</tfoot>
					</table>
				
                        </div>
            </div>
            <!-- /.card-body -->

            <partial name="_ModalPartial" />
        </div>
        <!-- /.card -->
    </div>
</div>

@section Scripts
{
<!--Alertify.js-->
<!-- include the script -->
<script src="~/alertifyjs/alertify.min.js"></script>


<!--Toggle Switch-->
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

<!-- DataTables -->
<script src="~/AdminLTE/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/AdminLTE/plugins/select2/js/select2.min.js"></script>
@*<script src="~/AdminLTE/plugins/datatables/datatables_advanced.js"></script>*@
@*<script src="~/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>*@
<script>
    $(function () {
        $('#stores').DataTable({
            //"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/Admin/Store/GetStores",
                //"dataType": 'json',
                //"data": {id: "C1457E73-ABC4-42A4-AF2F-CE7CA1C65FF1"}
            },
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": 0,
                     "render": function (data, type, row) {
                            return `<img src="https://localhost:7190/admin/image?url=${data}&w=75&h=75" class="rounded"/>`;
                        }
                },
                {
                    "orderable": false,
                    "targets": 4,
                    "render":function (data, type, row) {
                        return actionDropDown(data, type, row);
                    }
                }
            ]
            //"columnDefs": [
            //    {
            //        "orderable": false,
            //        "targets": 0,
            //         "render": function (data, type, row) {
            //                return `<img src="https://localhost:7190/admin/image?url=${data}&w=75&h=75" class="rounded"/>`;
            //            }
            //    },
            //    {
            //        "orderable": true,
            //        "targets": 1,
            //         "render": function (data, type, row) {
            //                return redirectToProduct(row);
            //            }
            //    },
            //    {
            //        "orderable": false,
            //        "targets": 2,
            //         "render": function (data, type, row) {
            //                return GetProductCategoryList(data);
            //            }
            //    },
            //    {
            //        "orderable": false,
            //        "targets": 3
            //    },
            //     {
            //        "orderable": false,
            //        "targets": 6
            //    },
            //    {
            //        "orderable": false,
            //        "targets": 7,
            //        "render":function(data, type, row){
            //            return feedProperty(data, type, row);
            //        }
            //    },
            //    {
            //        "orderable": false,
            //        "targets": 8,
            //        "render":function (data, type, row) {
            //            return actionDropDown(data, type, row);
            //        }
            //    }
            //]
        });
    });
</script>
<script>
    function deleteStore(storeName, id){
       $.ajax({
       url: '@Url.Action("StoreDelete", "Store", "Admin")',
       type: 'POST',
       //dataType: 'json',
       cache: false,
       data: { 'id': id },
       success: function (results) {
           location.reload()
           //$("#dataTableBody").load(location.href + " #dataTableBody")
           //alertify.success("<strong>"+productName+"</strong> "+" deleted.");
       },
       error: function () {
        alertify.defaults.glossary.title = 'Problem.!';
        alertify.error('Error occured to perform this action.')
       }
       });
    }
    function deleteWarning(storeName, data){
        var id=data;
        alertify.confirm('Confirm Delete!', 'Do you want to delete <strong>'+storeName+'</strong> from your arena?', 
                  function(){ 
                      deleteStore(storeName, id);
                  }, 
                  function(){ 
                      //alertify.warning("<strong>"+storeName+"</strong> "+" delete ceased.");
                  });
    }
</script>
<script>
function actionDropDown(data, type, row){
    var storeName=row[1];
    return         `<td class="text-center">
									<div class="list-icons text-center">
										<div class="dropdown">
											<a href="#" class="list-icons-item" data-toggle="dropdown">
												<i class="icon-menu9"></i>
											</a>

											<div class="dropdown-menu dropdown-menu-right">
												<a href="/Admin/Store/editStore/${data}" class="dropdown-item text-info">
                                                    <i class="fas fa-pencil-alt"></i>
                                                    <span class="ml-2">Edit</span>
                                                </a>
												<a href="#" class="dropdown-item text-danger" onclick="deleteWarning('${storeName}', '${data}')">
                                                    <i class="fas fa-trash"></i> 
                                                    <span class="ml-2">Delete</span>
                                                </a>
											</div>
										</div>
									</div>
								</td>`;
    }
</script>
<script>
 $('#stores').on('click', '.show-bs-modal', function (event) {
                var id = $(this).data("id");
                var modal = $("#modal-default");
                modal.find('.modal-body p').text('Are you sure you want to Delete this store?');
                modal.modal('show');
                $("#deleteId").val(id);
                $("#deleteForm").attr("action", "/Admin/Store/deleteStore");
            });
$("#deleteButton").click(function () {
            $("#deleteForm").submit();
        });
</script>
}