<div class="hero__search__form">
    <form action="#">
        <div class="hero__search__categories">
            All Categories
            <span class="arrow_carrot-down"></span>
        </div>
        <input type="text" placeholder="What do yo u need?">
        <button type="submit" class="site-btn">SEARCH</button>
    </form>
</div>