@model Ecommerce.Web.Areas.Customer.Models.ShopAccountModels.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<!-- Register Form Begin -->
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>Register</h2>
                </div>
            </div>
        </div>
        <form asp-area="Customer" asp-controller="Shop" asp-action="Register"
              asp-antiforgery="true" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="offset-md-3 col-md-6 d-block">
                    <input type="text" placeholder="First Name" asp-for="FirstName" autocomplete="First Name" aria-required="true">
                    <span asp-validation-for="FirstName" class="text-danger"></span>

                    <input type="text" placeholder="Last Name" asp-for="LastName" autocomplete="Last Name" aria-required="true">
                    <span asp-validation-for="LastName" class="text-danger"></span>

                    <input type="email" placeholder="Email" asp-for="Email" autocomplete="username" aria-required="true">
                    <span asp-validation-for="Email" class="text-danger"></span>

                    <input type="password" placeholder="Password" asp-for="Password" autocomplete="new-password" aria-required="true">
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <input type="password" placeholder="Confirm Password" asp-for="ConfirmPassword" autocomplete="new-password" aria-required="true">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                    <input type="hidden" asp-for="StoreId" id="StoreId" name="StoreId" value="@Model.StoreId" aria-required="true">
                </div>
                <div class="col-md-12 text-center">
                    <button id="registerSubmit" type="submit" class="site-btn">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Register Form End -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}