@{
    ViewData["Title"] = "Index";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="col-sm-6">
            <h1>Test Index For Policy</h1>
        </div>
    </div>
</div>

